@inherits LayoutComponentBase
@inject IStringLocalizer<Resource> R
@using System.Globalization

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <div>@R["title"]</div>
            <div>Language: @CultureInfo.CurrentCulture.NativeName </div>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
